# File Konfigurasi IDE / Cache / Library
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx

# File Build dan Output Android
/build
/out
/release
*.apk
*.aab

# Keamanan (API Keys & Kredensial)
local.properties
/secrets.properties
**/google-services.json
/res/values/api_keys.xml

# File Data Besar / Output Training
/models/
/data/
*.txt
__pycache__/
*.pyc
*.log
